In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)
pd.set_option('display.precision', 3)
pd.option_context('display.max_rows', 100)
import warnings
warnings.filterwarnings('ignore')

In [77]:
intakes[intakes.animal_id == 'A789898']

,animal_id,name_intake,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type_intake,sex_upon_intake,age_upon_intake,breed_intake,color_intake,n_previous_stays,stay_id
96160,A789898,*Parker,2019-03-01 14:48:00,March 2019,9300 Morin Drive in Travis (TX),Stray,Injured,Dog,Intact Male,2 months,Labrador Retriever Mix,White/Tan,0,A789898_0

In [78]:
outcomes[outcomes.animal_id == 'A789898']

,animal_id,name_outcome,datetime_outcome,monthyear_outcome,date_of_birth,outcome_type,outcome_subtype,animal_type_outcome,sex_upon_outcome,age_upon_outcome,breed_outcome,color_outcome,n_previous_stays,stay_id
102450,A789898,*Parker,2019-07-03 11:49:00,Jul 2019,12/27/2018,Adoption,Foster,Dog,Neutered Male,6 months,Labrador Retriever Mix,White/Tan,0,A789898_0

In [118]:
a_good_boy_named_sue_intake = intakes[intakes.animal_id == 'A789898'][['animal_id', 'intake_type', 'intake_condition', 'monthyear_intake', 'age_upon_intake', 'breed_intake', 'found_location']]
a_good_boy_named_sue_outcome = outcomes[outcomes.animal_id == 'A789898'][['animal_id', 'outcome_type', 'outcome_subtype', 'monthyear_outcome', 'age_upon_outcome', 'breed_outcome', 'color_outcome']]

In [119]:
a_good_boy_named_sue_intake

,animal_id,intake_type,intake_condition,monthyear_intake,age_upon_intake,breed_intake,found_location
96160,A789898,Stray,Injured,March 2019,2 months,Labrador Retriever Mix,9300 Morin Drive in Travis (TX)

In [120]:
a_good_boy_named_sue_outcome

,animal_id,outcome_type,outcome_subtype,monthyear_outcome,age_upon_outcome,breed_outcome,color_outcome
102450,A789898,Adoption,Foster,Jul 2019,6 months,Labrador Retriever Mix,White/Tan

#### Get the data:

In [2]:
# get the data

intakes = pd.read_csv('aac_intakes_20220304.csv')
outcomes = pd.read_csv('aac_outcomes_20220304.csv')

#### Rename Columns:

In [3]:
# rename columns

for col in intakes.columns:
    intakes = intakes.rename(columns={col: f'{col.lower().replace(" ", "_")}'})
    
for col in outcomes.columns:
    outcomes = outcomes.rename(columns={col: f'{col.lower().replace(" ", "_")}'})
    
cols = ['name', 'datetime', 'monthyear', 'animal_type', 'breed', 'color']
for col in cols:
    intakes = intakes.rename(columns={col: col+'_intake'})
    outcomes = outcomes.rename(columns={col: col+'_outcome'})

In [4]:
intakes.head(2)

,animal_id,name_intake,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type_intake,sex_upon_intake,age_upon_intake,breed_intake,color_intake
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver

In [5]:
outcomes.head(2)

,animal_id,name_outcome,datetime_outcome,monthyear_outcome,date_of_birth,outcome_type,outcome_subtype,animal_type_outcome,sex_upon_outcome,age_upon_outcome,breed_outcome,color_outcome
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown

### Exploring Location

Percentage of entries where location includes 'TX'

In [6]:
intakes.found_location.str.contains('TX').mean()

0.9876352960079461

unique entries that don't include 'TX'

In [7]:
intakes[~intakes.found_location.str.contains('TX')].found_location.unique()

array(['Outside Jurisdiction'], dtype=object)

Percentage of entries where location includes 'Austin'

In [8]:
intakes.found_location.str.contains('Austin').mean()

0.8275368457954164

Number of unique entries that don't include 'Austin'

In [9]:
intakes[~intakes.found_location.str.contains('Austin')].found_location.nunique()

9933

In [10]:
(intakes.found_location == 'Austin (TX)').mean()

0.18764698149311287

In [11]:
(intakes.found_location == 'Travis (TX)').mean()

0.018017557441463022

In [12]:
intakes.found_location.str.contains('Austin (TX)', regex=False).mean()

0.8274126875155198

In [13]:
intakes.found_location.str.split().str[-2]

0         Austin
1         Austin
2         Austin
3         Austin
4         Austin
           ...
136917    Austin
136918    Austin
136919    Austin
136920    Austin
136921     Manor
Name: found_location, Length: 136922, dtype: object

In [14]:
intakes

,animal_id,name_intake,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type_intake,sex_upon_intake,age_upon_intake,breed_intake,color_intake
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
136917,A852514,NaN,03/04/2022 11:03:00 AM,March 2022,5509 Burgundy Dr in Austin (TX),Stray,Injured,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby
136918,A852493,A852493,03/03/2022 05:49:00 PM,March 2022,1300 South Pleasant Valley in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Labrador Retriever,Red/Brown
136919,A852516,Charlie,03/04/2022 10:47:00 AM,March 2022,Austin (TX),Owner Surrender,Normal,Dog,Unknown,6 months,Australian Cattle Dog Mix,Liver Tick/Brown
136920,A852517,A852517,03/04/2022 11:25:00 AM,March 2022,13377 Pond Springs Road in Austin (TX),Wildlife,Sick,Other,Unknown,2 years,Raccoon,Brown/Black
136921,A842487,Toby,09/16/2021 03:01:00 PM,September 2021,Jones Road in Manor (TX),Stray,Normal,Dog,Intact Male,3 months,Miniature Pinscher Mix,Black/White

#### Consider:  
Why are there more entries in each table than there are unique entries for animal_id? Perhaps that represents when the same animal has been seen more than once.

In [15]:
len(outcomes)

137221

In [16]:
outcomes.animal_id.nunique()

122702

In [17]:
len(intakes)

136922

In [18]:
intakes.animal_id.nunique()

122390

#### Consider:
Why are there more outcomes than intakes?

In [19]:
len(intakes)

136922

In [20]:
len(outcomes)

137221

In [21]:
len(outcomes) - len(intakes)

299

Let's take a look at instances where an animal_id is represented in outcomes but not intakes

In [22]:
outcomes_without_intake = outcomes.loc[~ outcomes.animal_id.isin(intakes.animal_id)]
outcomes_without_intake

,animal_id,name_outcome,datetime_outcome,monthyear_outcome,date_of_birth,outcome_type,outcome_subtype,animal_type_outcome,sex_upon_outcome,age_upon_outcome,breed_outcome,color_outcome
80,A657197,Gecko,10/09/2013 01:15:00 PM,Oct 2013,05/12/2013,Adoption,NaN,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
111,A651995,*Sugar,07/02/2018 03:34:00 PM,Jul 2018,10/18/2011,Adoption,Foster,Dog,Spayed Female,6 years,Staffordshire Mix,Brown/White
157,A662741,*Todd,10/05/2013 12:42:00 PM,Oct 2013,08/11/2013,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Black
915,A664032,Parker,10/01/2013 05:18:00 PM,Oct 2013,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
943,A662086,*Hanna,10/12/2013 04:01:00 PM,Oct 2013,08/29/2011,Adoption,NaN,Dog,Spayed Female,2 years,Labrador Retriever/Collie Smooth,Tan/White
...,...,...,...,...,...,...,...,...,...,...,...,...
131595,A659501,*Spot,12/12/2013 02:31:00 PM,Dec 2013,05/25/2013,Adoption,Foster,Cat,Neutered Male,6 months,Domestic Shorthair Mix,Orange Tabby/White
132056,A661336,*Nellie,10/13/2013 05:52:00 PM,Oct 2013,08/19/2012,Adoption,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,Sable/White
132112,A656250,*Dorothy,12/28/2013 12:01:00 PM,Dec 2013,05/12/2013,Adoption,Foster,Cat,Spayed Female,7 months,Domestic Shorthair Mix,Black/White
132245,A653240,*Ola,11/15/2013 08:24:00 AM,Nov 2013,05/04/2010,Adoption,Foster,Cat,Spayed Female,3 years,Domestic Medium Hair Mix,Black
132292,A661250,*Rex,11/14/2013 02:17:00 PM,Nov 2013,02/18/2012,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,Black/White

no reason is immediately apparent. For now, we will drop these rows also.

#### drop outcomes that don't have a corresponding intake

In [23]:
outcomes = outcomes.loc[~ outcomes.animal_id.isin(outcomes_without_intake.animal_id)]

In [24]:
len(intakes)

136922

In [25]:
len(outcomes)

136406

#### Consider:
Now we have more intakes than outcomes. Why?

In [26]:
intakes_without_outcomes = intakes.loc[~ intakes.animal_id.isin(outcomes.animal_id)]

Again, no reason is immediately apparent, so we will drop the rows for now.

#### drop the intakes that do not have a corresponding outcome

In [27]:
intakes = intakes.loc[~ intakes.animal_id.isin(intakes_without_outcomes.animal_id)]

In [28]:
len(intakes)

136420

In [29]:
len(outcomes)

136406

 Now they match!

#### Let's look at instances where animal_id exists more than once:
It does appear that duplicate animal ids represent times when an animal has been seen on more than one occasion.

In [30]:
intakes_duplicated = intakes[intakes.animal_id.duplicated(keep=False)].sort_values(['animal_id', 'datetime_intake'])
outcomes_duplicated = outcomes[outcomes.animal_id.duplicated(keep=False)].sort_values(['animal_id', 'datetime_outcome'])

In [31]:
intakes_duplicated.head()

,animal_id,name_intake,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type_intake,sex_upon_intake,age_upon_intake,breed_intake,color_intake
91394,A006100,Scamp,03/07/2014 02:26:00 PM,March 2014,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
20227,A006100,Scamp,12/07/2017 02:07:00 PM,December 2017,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
4342,A006100,Scamp,12/19/2014 10:21:00 AM,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
122619,A245945,Boomer,05/20/2015 10:34:00 PM,May 2015,7403 Blessing Ave in Austin (TX),Stray,Normal,Dog,Neutered Male,15 years,Labrador Retriever Mix,Tan
99456,A245945,Boomer,07/03/2014 05:55:00 PM,July 2014,Garden And Mildred in Austin (TX),Stray,Normal,Dog,Neutered Male,14 years,Labrador Retriever Mix,Tan

In [32]:
outcomes_duplicated.head()

,animal_id,name_outcome,datetime_outcome,monthyear_outcome,date_of_birth,outcome_type,outcome_subtype,animal_type_outcome,sex_upon_outcome,age_upon_outcome,breed_outcome,color_outcome
115207,A006100,Scamp,03/08/2014 05:10:00 PM,Mar 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
101468,A006100,Scamp,12/07/2017 12:00:00 AM,Dec 2017,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
56676,A006100,Scamp,12/20/2014 04:35:00 PM,Dec 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
69515,A245945,Boomer,05/25/2015 11:49:00 AM,May 2015,05/23/2000,Transfer,Partner,Dog,Neutered Male,15 years,Labrador Retriever Mix,Tan
90674,A245945,Boomer,07/04/2014 03:26:00 PM,Jul 2014,05/23/2000,Return to Owner,NaN,Dog,Neutered Male,14 years,Labrador Retriever Mix,Tan

In [33]:
#### so let's add some information about number of times the animal has previously been seen at the shelter, as well as a unique identifier for each occasion, so that these intakes can be joined to the appropriate outcomes

In [34]:
intakes['datetime_intake'] = pd.to_datetime(intakes.datetime_intake)
intakes = intakes.sort_values('datetime_intake', ignore_index=True)

In [35]:
intakes['n_previous_stays'] = intakes.groupby('animal_id').cumcount()
intakes['stay_id'] = intakes.animal_id + '_' + intakes.n_previous_stays.astype(str)

In [36]:
outcomes['datetime_outcome'] = pd.to_datetime(outcomes.datetime_outcome)
outcomes = outcomes.sort_values('datetime_outcome', ignore_index=True)

In [37]:
outcomes['n_previous_stays'] = outcomes.groupby('animal_id').cumcount()
outcomes['stay_id'] = outcomes.animal_id + '_' + outcomes.n_previous_stays.astype(str)

In [38]:
intakes_duplicated = intakes[intakes.animal_id.duplicated(keep=False)].sort_values(['animal_id', 'datetime_intake'])
outcomes_duplicated = outcomes[outcomes.animal_id.duplicated(keep=False)].sort_values(['animal_id', 'datetime_outcome'])

In [39]:
intakes_duplicated[['animal_id', 'name_intake', 'datetime_intake', 'n_previous_stays', 'stay_id']].head()

      animal_id name_intake     datetime_intake  n_previous_stays    stay_id
6925    A006100       Scamp 2014-03-07 14:26:00                 0  A006100_0
22371   A006100       Scamp 2014-12-19 10:21:00                 1  A006100_1
75923   A006100       Scamp 2017-12-07 14:07:00                 2  A006100_2
13575   A245945      Boomer 2014-07-03 17:55:00                 0  A245945_0
29342   A245945      Boomer 2015-05-20 22:34:00                 1  A245945_1

In [40]:
outcomes_duplicated[['animal_id', 'name_outcome', 'datetime_outcome', 'n_previous_stays', 'stay_id']].head()

      animal_id name_outcome    datetime_outcome  n_previous_stays    stay_id
6502    A006100        Scamp 2014-03-08 17:10:00                 0  A006100_0
21914   A006100        Scamp 2014-12-20 16:35:00                 1  A006100_1
75186   A006100        Scamp 2017-12-07 00:00:00                 2  A006100_2
12619   A245945       Boomer 2014-07-04 15:26:00                 0  A245945_0
28720   A245945       Boomer 2015-05-25 11:49:00                 1  A245945_1

#### Join the dataframes

In [41]:
df = pd.merge(intakes, outcomes, on='stay_id', suffixes=(None, '_y'))
df = df.drop(columns=[col for col in df.columns if '_y' in col])

#### Drop variables from original outcome table (except the target - 'outcome')
(by definition, not drivers of outcome, unless we start getting into duration of stay, etc. Which we won't do at this point)

In [42]:
columns = ['datetime_outcome', 'monthyear_outcome', 'date_of_birth', 'outcome_subtype', 'animal_type_outcome', 'sex_upon_outcome', 'age_upon_outcome', 'breed_outcome', 'color_outcome', 'name_outcome']
df = df.drop(columns=columns)

In [43]:
df.head()

,animal_id,name_intake,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type_intake,sex_upon_intake,age_upon_intake,breed_intake,color_intake,n_previous_stays,stay_id,outcome_type
0,A521520,Nina,2013-10-01 07:51:00,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,0,A521520_0,Return to Owner
1,A664235,NaN,2013-10-01 08:33:00,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,0,A664235_0,Transfer
2,A664236,NaN,2013-10-01 08:33:00,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,0,A664236_0,Transfer
3,A664237,NaN,2013-10-01 08:33:00,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,0,A664237_0,Transfer
4,A664233,Stevie,2013-10-01 08:53:00,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,0,A664233_0,Euthanasia

#### Split the month_year column to extract the month (proxy for time of year)

In [44]:
df['month_intake'] = df.monthyear_intake.str.split().apply(lambda row: row[0])
df = df.drop(columns='monthyear_intake')

#### Split the sex upon intake column into fixed/not fixed and sex

In [45]:
df['fixed'] = df.sex_upon_intake.map({'Neutered Male': True,
                                      'Spayed Female': True,
                                      'Intact Male': False,
                                      'Intact Female': False,
                                      'Unknown': 'unknown'})

In [46]:
df['sex'] = df.sex_upon_intake.map({'Neutered Male': 'male',
                                      'Spayed Female': 'female',
                                      'Intact Male': 'male',
                                      'Intact Female': 'female',
                                      'Unknown': 'unknown'})

In [47]:
df = df.drop(columns='sex_upon_intake')

#### Rename Columns

In [48]:
df = df.rename(columns={'animal_type_intake': 'animal_type',
                        'breed_intake': 'breed', 
                        'color_intake': 'color',
                        'name_intake': 'name'})

In [49]:
def check_mixed(breed):
    if 'Mix' in breed or '/' in breed:
        return True
    else:
        return False
    
df['breed_mixed'] = df.breed.apply(lambda row: check_mixed(row))

In [50]:
df['breed'] = df.breed.str.replace(' Mix', '')

In [51]:
def breed_split_1(breed):
    if len(breed.split('/')) == 1:
        return breed
    else:
        return breed.split('/')[0]

def breed_split_2(breed):
    if len(breed.split('/')) > 1:
        return breed.split('/')[1]
    else:
        return np.nan
    
def breed_split_3(breed):
    if len(breed.split('/')) > 2:
        return breed.split('/')[2]
    else:
        return np.nan

df['breed_1'] = df.breed.apply(breed_split_1)
df['breed_2'] = df.breed.apply(breed_split_2)
df['breed_3'] = df.breed.apply(breed_split_3)
df = df.drop(columns='breed')

In [52]:
df['age_number'] = df.age_upon_intake.str.split().apply(lambda row: int(row[0]))
df['age_units'] = df.age_upon_intake.str.split().apply(lambda row: row[1])
df['age_multiplier'] = df.age_units.map({'day': 1, 
                                         'days': 1, 
                                         'week': 7, 
                                         'weeks': 7,
                                         'month': 30, 
                                         'months': 30, 
                                         'year': 365, 
                                         'years': 365})
df['age_intake'] = df.age_number * df.age_multiplier
df['age_intake'] = df.age_intake.apply(lambda row: pd.Timedelta(days=row))
df = df.drop(columns=['age_number', 'age_units', 'age_multiplier', 'age_upon_intake'])

In [53]:
def color_split_1(color):
    if len(color.split('/')) == 1:
        return color
    else:
        return color.split('/')[0]

def color_split_2(color):
    if len(color.split('/')) > 1:
        return color.split('/')[1]
    else:
        return np.nan

df['color_1'] = df.color.apply(color_split_1)
df['color_2'] = df.color.apply(color_split_2)
df = df.drop(columns='color')

In [54]:
df['datetime_intake'] = pd.to_datetime(df.datetime_intake)

In [55]:
import pandas as pd
import numpy as np

def aac_prep(intakes, outcomes):

    # rename columns

    for col in intakes.columns:
        intakes = intakes.rename(columns={col: f'{col.lower().replace(" ", "_")}'})

    for col in outcomes.columns:
        outcomes = outcomes.rename(columns={col: f'{col.lower().replace(" ", "_")}'})

    cols = ['name', 'datetime', 'monthyear', 'animal_type', 'breed', 'color']
    for col in cols:
        intakes = intakes.rename(columns={col: col+'_intake'})
        outcomes = outcomes.rename(columns={col: col+'_outcome'})
        
    
    # drop animals that have more than one entry (animals that were taken in on more than one occasion) 
    # (we should remove this step in later analysis)
    
    intakes_duplicated = intakes[intakes.animal_id.duplicated(keep=False)].sort_values('animal_id')
    outcomes_duplicated = outcomes[outcomes.animal_id.duplicated(keep=False)].sort_values('animal_id')
    
    intakes = intakes.loc[~ intakes.animal_id.isin(intakes_duplicated.animal_id)]
    outcomes = outcomes.loc[~ outcomes.animal_id.isin(outcomes_duplicated.animal_id)]
    
    
    # drop outcomes that don't have a corresponding intake, and vis-versa
    
    outcomes_without_intake = outcomes.loc[~ outcomes.animal_id.isin(intakes.animal_id)]
    outcomes = outcomes.loc[~ outcomes.animal_id.isin(outcomes_without_intake.animal_id)]
    
    intakes_without_outcomes = intakes.loc[~ intakes.animal_id.isin(outcomes.animal_id)]
    intakes = intakes.loc[~ intakes.animal_id.isin(intakes_without_outcomes.animal_id)]
    
    
    # join the dataframes
    
    df = pd.merge(intakes, outcomes, on='animal_id')
    
    
    # drop variables from the original outcomes table (since by definition, they're not drivers of outcome)
    
    columns = ['datetime_outcome', 'monthyear_outcome', 'date_of_birth', 'outcome_subtype', 'animal_type_outcome', 'sex_upon_outcome', 'age_upon_outcome', 'breed_outcome', 'color_outcome', 'name_outcome']
    df = df.drop(columns=columns)
    
    
    # split the month_year column to extract the month (proxy for time of year), then drop month_year column
    
    df['month_intake'] = df.monthyear_intake.str.split().apply(lambda row: row[0])
    df = df.drop(columns='monthyear_intake')
    
    
    # split the sex_upon_intake column into fixed = True/False and sex = male/female
    # then drop the sex_upon_intake column
    
    df['fixed'] = df.sex_upon_intake.map({'Neutered Male': True,
                                      'Spayed Female': True,
                                      'Intact Male': False,
                                      'Intact Female': False,
                                      'Unknown': 'unknown'})
    df['sex'] = df.sex_upon_intake.map({'Neutered Male': 'male',
                                      'Spayed Female': 'female',
                                      'Intact Male': 'male',
                                      'Intact Female': 'female',
                                      'Unknown': 'unknown'})
    df = df.drop(columns='sex_upon_intake')
    
    
    # rename columns
    
    df = df.rename(columns={'animal_type_intake': 'animal_type',
                        'breed_intake': 'breed', 
                        'color_intake': 'color',
                        'name_intake': 'name'})
    
    # determine if breed is 'mixed'
        # based on whether the breed description contains the word "Mix"
        # and based on whether there is more than one breed listed in the description (separated by "/")
    # create new column breed_mixed = True/False
    # then remove the word "Mix" from the breed description
    
    def check_mixed(breed):
        if 'Mix' in breed or '/' in breed:
            return True
        else:
            return False

    df['breed_mixed'] = df.breed.apply(lambda row: check_mixed(row))
    df['breed'] = df.breed.str.replace(' Mix', '')

    # split the breed description into multiple columns when there is more than one listed
    # then drop the original breed column
    
    def breed_split_1(breed):
        if len(breed.split('/')) == 1:
            return breed
        else:
            return breed.split('/')[0]

    def breed_split_2(breed):
        if len(breed.split('/')) > 1:
            return breed.split('/')[1]
        else:
            return np.nan

    def breed_split_3(breed):
        if len(breed.split('/')) > 2:
            return breed.split('/')[2]
        else:
            return np.nan

    df['breed_1'] = df.breed.apply(breed_split_1)
    df['breed_2'] = df.breed.apply(breed_split_2)
    df['breed_3'] = df.breed.apply(breed_split_3)
    df = df.drop(columns='breed')
    
    
    # split the color descriptino into multiple columns when there is more than one listed
    # then drop the original color column
    
    def color_split_1(color):
        if len(color.split('/')) == 1:
            return color
        else:
            return color.split('/')[0]

    def color_split_2(color):
        if len(color.split('/')) > 1:
            return color.split('/')[1]
        else:
            return np.nan

    df['color_1'] = df.color.apply(color_split_1)
    df['color_2'] = df.color.apply(color_split_2)
    df = df.drop(columns='color')
    
    
    # convert age column into pandas timedelta (number of days)
    
    df['age_number'] = df.age_upon_intake.str.split().apply(lambda row: int(row[0]))
    df['age_units'] = df.age_upon_intake.str.split().apply(lambda row: row[1])
    df['age_multiplier'] = df.age_units.map({'day': 1, 
                                             'days': 1, 
                                             'week': 7, 
                                             'weeks': 7,
                                             'month': 30, 
                                             'months': 30, 
                                             'year': 365, 
                                             'years': 365})
    df['age_intake'] = df.age_number * df.age_multiplier
    df['age_intake'] = df.age_intake.apply(lambda row: pd.Timedelta(days=row))
    df = df.drop(columns=['age_number', 'age_units', 'age_multiplier', 'age_upon_intake'])
    
    # convert the date & time of the intake into a pandas datetime type
    
    df['datetime_intake'] = pd.to_datetime(df.datetime_intake)
    
    return df

In [56]:
df.intake_type.value_counts()

Stray                 93922
Owner Surrender       27968
Public Assist          8190
Wildlife               5281
Abandoned               676
Euthanasia Request      259
Name: intake_type, dtype: int64

In [57]:
df.animal_type.value_counts()

Dog          76718
Cat          51649
Other         7253
Bird           652
Livestock       24
Name: animal_type, dtype: int64

In [58]:
df.intake_condition.value_counts()

Normal        117496
Injured         7651
Sick            5864
Nursing         3932
Aged             461
Other            244
Neonatal         203
Medical          166
Feral            123
Pregnant         100
Behavior          46
Space              4
Med Attn           3
Med Urgent         2
Panleuk            1
Name: intake_condition, dtype: int64

In [59]:
df.outcome_type.value_counts()

Adoption           62179
Transfer           39510
Return to Owner    22750
Euthanasia          8974
Died                1283
Rto-Adopt            856
Disposal             625
Missing               71
Relocate              24
Name: outcome_type, dtype: int64

In [60]:
df.head()

,animal_id,name,datetime_intake,found_location,intake_type,intake_condition,animal_type,n_previous_stays,stay_id,outcome_type,month_intake,fixed,sex,breed_mixed,breed_1,breed_2,breed_3,age_intake,color_1,color_2
0,A521520,Nina,2013-10-01 07:51:00,Norht Ec in Austin (TX),Stray,Normal,Dog,0,A521520_0,Return to Owner,October,True,female,True,Border Terrier,Border Collie,NaN,2555 days,White,Tan
1,A664235,NaN,2013-10-01 08:33:00,Abia in Austin (TX),Stray,Normal,Cat,0,A664235_0,Transfer,October,unknown,unknown,True,Domestic Shorthair,NaN,NaN,7 days,Orange,White
2,A664236,NaN,2013-10-01 08:33:00,Abia in Austin (TX),Stray,Normal,Cat,0,A664236_0,Transfer,October,unknown,unknown,True,Domestic Shorthair,NaN,NaN,7 days,Orange,White
3,A664237,NaN,2013-10-01 08:33:00,Abia in Austin (TX),Stray,Normal,Cat,0,A664237_0,Transfer,October,unknown,unknown,True,Domestic Shorthair,NaN,NaN,7 days,Orange,White
4,A664233,Stevie,2013-10-01 08:53:00,7405 Springtime in Austin (TX),Stray,Injured,Dog,0,A664233_0,Euthanasia,October,False,female,True,Pit Bull,NaN,NaN,1095 days,Blue,White

In [61]:
# get dogs
df = df[df.animal_type == 'Dog']

#### add a feature: breed group
source: https://www.akc.org/public-education/resources/general-tips-information/dog-breeds-sorted-groups/

In [95]:
akc_breed_group_dct = {'Border Terrier': 'Terrier', 
'Pit Bull': 'Other', 
'Border Collie': 'Herding', 
'Podengo Pequeno': 'Hound', 
'Chihuahua Shorthar': 'Toy',
'Anatol Shepherd': 'Working',
'Weimaraner': 'Sporting',
'Labrador Retriever': 'Sporting',
'Great Pyrenees': 'Working',  
'Cairn Terrier': 'Terrier', 
'Dachshund': 'Hound', 
'German Shepherd': 'Herding', 
'Black': 'Other', 
'Siberian Husky': 'Working', 
'Miniature Poodle': 'Toy', 
'Yorkshire Terrier': 'Toy', 
'Norfolk Terrier': 'Terrier', 
'Australian Cattle Dog': 'Herding', 
'Australian Shepherd': 'Herding', 
'Belgian Malinois': 'Herding', 
'Jack Russell Terrier': 'Terrier', 
'Doberman Pinsch': 'Working', 
'Japanese Chin': 'Toy', 
'Staffordshire': 'Terrier', 
'Welsh Terrier': 'Terrier', 
'Shetland Sheepdog': 'Herding', 
'Vizsla': 'Sporting', 
'Rottweiler': 'Working', 
'American Staffordshire Terrier': 'Terrier', 
'American Bulldog': 'Foundation Stock Service', 
'Chinese Sharpei': 'Non-sporting', 
'Great Dane': 'Working', 
'Harrier': 'Hound', 
'Flat Coat Retriever': 'Sporting', 
'Dachshund Wirehair': 'Hound', 
'Leonberger': 'Working', 
'Dachshund Longhair': 'Hound', 
'Chesa Bay Retr': 'Sporting', 
'Mastiff': 'Working',
'Chihuahua Longhair': 'Toy', 
'Rat Terrier': 'Terrier', 
'Greyhound': 'Hound', 
'Boxer': 'Working', 
'Bulldog': 'Non-sporting', 
'Miniature Pinscher': 'Toy', 
'Carolina Dog': 'Foundation Stock Service', 
'Toy Poodle': 'Toy', 
'Pointer': 'Sporting', 
'Queensland Heeler': 'Other', 
'American Pit Bull Terrier': 'Other', 
'Miniature Schnauzer': 'Terrier', 
'Beagle': 'Hound', 
'Kuvasz': 'Working', 
'Shih Tzu': 'Toy', 
'Pekingese': 'Toy', 
'Catahoula': 'Foundation Stock Service', 
'Maltese': 'Toy', 
'Australian Kelpie': 'Foundation Stock Service', 
'Basset Hound': 'Hound', 
'Treeing Walker Coonhound': 'Other', 
'Bull Terrier': 'Terrier', 
'American Foxhound': 'Hound', 
'Chow Chow': 'Non-sporting', 
'Italian Greyhound': 'Toy', 
'Boston Terrier': 'Non-sporting', 
'Blue Lacy': 'Other', 
'Golden Retriever': 'Sporting', 
'Collie Rough': 'Herding', 
'Plott Hound': 'Hound', 
'Redbone Hound': 'Hound', 
'Cocker Spaniel': 'Sporting', 
'English Springer Spaniel': 'Sporting', 
'Black Mouth Cur': 'Other', 
'Basenji': 'Hound', 
'Pug': 'Toy', 
'Parson Russell Terrier': 'Terrier', 
'English Pointer': 'Sporting', 
'Skye Terrier': 'Terrier', 
'Airedale Terrier': 'Terrier', 
'Cardigan Welsh Corgi': 'Herding', 
'Finnish Spitz': 'Non-sporting', 
'English Setter': 'Sporting', 
'Alaskan Husky': 'Working', 
'Rhod Ridgeback': 'Hound', 
'Newfoundland': 'Working', 
'Brittany': 'Sporting', 
'Collie Smooth': 'Herding', 
'Port Water Dog': 'Working', 
'Bull Terrier Miniature': 'Terrier', 
'Lhasa Apso': 'Non-sporting', 
'Norwich Terrier': 'Terrier', 
'Whippet': 'Hound', 
'Old English Sheepdog': 'Herding', 
'Shiba Inu': 'Non-sporting', 
'Bullmastiff': 'Working', 
'Ibizan Hound': 'Hound', 
'Scottish Terrier': 'Terrier', 
'English Foxhound': 'Hound', 
'Silky Terrier': 'Toy', 
'Keeshond': 'Non-sporting', 
'English Bulldog': 'Other', 
'Pomeranian': 'Toy', 
'Havanese': 'Toy', 
'Cane Corso': 'Working', 
'Soft Coated Wheaten Terrier': 'Terrier', 
'Schipperke': 'Non-sporting', 
'Pharaoh Hound': 'Hound', 
'American Eskimo': 'Non-sporting', 
'Pembroke Welsh Corgi': 'Herding', 
'Eng Toy Spaniel': 'Toy', 
'Wire Hair Fox Terrier': 'Terrier', 
'Standard Schnauzer': 'Working', 
'West Highland': 'Terrier', 
'Bruss Griffon': 'Toy', 
'Pbgv': 'Hound', 
'Entlebucher': 'Herding', 
'German Shorthair Pointer': 'Sporting', 
'Picardy Sheepdog': 'Herding', 
'Beauceron': 'Herding', 
'Standard Poodle': 'Non-sporting', 
'Bearded Collie': 'Herding', 
'Papillon': 'Toy', 
'Bichon Frise': 'Non-sporting', 
'Cavalier Span': 'Toy', 
'French Bulldog': 'Non-sporting', 
'St. Bernard Rough Coat': 'Working', 
'Alaskan Malamute': 'Working', 
'Irish Terrier': 'Terrier', 
'Bloodhound': 'Hound', 
'Akita': 'Working', 
'Landseer': 'Working', 
'Swedish Vallhund': 'Working', 
'Bluetick Hound': 'Hound', 
'Jindo': 'Foundation Stock Service', 
'Afghan Hound': 'Hound', 
'Canaan Dog': 'Herding', 
'German Pinscher': 'Working', 
'Affenpinscher': 'Toy', 
'Manchester Terrier': 'Toy', 
'Dogue De Bordeaux': 'Working', 
'Tibetan Terrier': 'Non-sporting', 
'Boerboel': 'Working', 
'Irish Wolfhound': 'Hound', 
'Coton De Tulear': 'Non-sporting', 
'Dogo Argentino': 'Working', 
'German Wirehaired Pointer': 'Sporting', 
'Dutch Shepherd': 'Miscellaneous Class', 
'Belgian Sheepdog': 'Herding', 
'Bernese Mountain Dog': 'Working', 
'Dalmatian': 'Non-sporting', 
'Feist': 'Other', 
'Old English Bulldog': 'Other', 
'Toy Fox Terrier': 'Toy', 
'Smooth Fox Terrier': 'Terrier', 
'St. Bernard Smooth Coat': 'Working', 
'Welsh Springer Spaniel': 'Sporting', 
'Boykin Span': 'Sporting', 
'Nova Scotia Duck Tolling Retriever': 'Sporting', 
'Chinese Crested': 'Toy', 
'Spinone Italiano': 'Sporting', 
'Samoyed': 'Working', 
'English Coonhound': 'Hound', 
'Presa Canario': 'Foundation Stock Service', 
'Wirehaired Pointing Griffon': 'Sporting', 
'Australian Terrier': 'Terrier', 
'Greater Swiss Mountain Dog': 'Working', 
'Gordon Setter': 'Sporting', 
'Glen Of Imaal': 'Terrier', 
'Otterhound': 'Hound', 
'Saluki': 'Hound', 
'Tibetan Spaniel': 'Non-sporting', 
'Belgian Tervuren': 'Herding', 
'Field Spaniel': 'Sporting', 
'Patterdale Terr': 'Other', 
'Treeing Cur': 'Foundation Stock Service', 
'Dandie Dinmont': 'Terrier', 
'Schnauzer Giant': 'Working', 
'English Cocker Spaniel': 'Sporting', 
'Irish Setter': 'Sporting', 
'Swiss Hound': 'Other', 
'English Shepherd': 'Herding', 
'Sealyham Terr': 'Terrier', 
'Bedlington Terr': 'Terrier', 
'Unknown': 'Unknown', 
'Lowchen': 'Non-sporting', 
'Spanish Mastiff': 'Foundation Stock Service', 
'Dachshund Stan': 'Hound', 
'Mexican Hairless': 'Other', 
'Neapolitan Mastiff': 'Working', 
'Treeing Tennesse Brindle': 'Foundation Stock Service', 
'Norwegian Elkhound': 'Hound', 
'Akbash': 'Other', 
'Hovawart': 'Foundation Stock Service', 
'Sussex Span': 'Sporting', 
'Lakeland Terrier': 'Terrier', 
'Grand Basset Griffon Vendeen': 'Hound', 
'Bouv Flandres': 'Herding', 
'Clumber Spaniel': 'Sporting', 
'Tibetan Mastiff': 'Working', 
'Briard': 'Herding', 
'Spanish Water Dog': 'Herding', 
'Alaskan Klee Kai': 'Foundation Stock Service', 
'Kangal': 'Working', 
'Dutch Sheepdog': 'Miscellaneous Class', 
'Wolf Hybrid': 'Other', 
'Wirehaired Vizsla': 'Sporting', 
'Chihuahua Shorthair': 'Toy'}

df['akc_breed_group'] = df.breed_1.map(akc_breed_group_dct)

Dropping columns not used for modeling at this time:
- datetime_intake: because it is unique to each animal and not relevant to future observations
- found_location: because we don't have a way of turning it into a useful data type at this time
- name: too many unique values to be useful without additional engineering
- animal_id: unique to each animal
- breed_2, breed_3: too many nulls
- color_2: too many nulls

In [ ]:
# drop columns not used for modeling at this time
df = df.drop(columns=['datetime_intake', 'found_location', 'name', 'breed_2', 'breed_3', 'color_2'])

In [ ]:
# drop rows in order to focus on most common outcome types
# also drop 'Return to Owner' since this can only happen in the first 4 days (i know this from previous experience)
df = df[df.outcome_type.isin(['Adoption', 'Transfer'])]

In [ ]:
df.head()

# Prep for modeling

In [ ]:
# columns to hot code
categorical_columns = ['fixed', 'breed_mixed', 'intake_type', 'intake_condition', 'animal_type', 'month_intake', 'sex', 'breed_1', 'color_1']
# hot coding dummy variables
for col in categorical_columns:
    dummy_df = pd.get_dummies(df[col],
                              prefix=df[col].name,
                              drop_first=True,
                              dummy_na=False)
    df = pd.concat([df, dummy_df], axis=1)
    # drop original column
    df = df.drop(columns=col)

In [ ]:
# turn age_intake timedelta into float
df['age_intake'] = df.age_intake / pd.Timedelta(days=1)

In [ ]:
df.head()

In [ ]:
def aac_get_dogs(df):
    df = df[df.animal_type == 'Dog']
    return df

In [ ]:
def aac_prep_for_modeling(df):
    # drop columns not used for modeling at this time
    df = df.drop(columns=['datetime_intake', 'found_location', 'name', 'animal_id', 'breed_2', 'breed_3', 'color_2', 'name'])
    # drop rows in order to focus on most common outcome types
    df = df[df.outcome_type.isin(['Adoption', 'Transfer', 'Return to Owner'])]
    # columns to hot code
    categorical_columns = ['fixed', 'breed_mixed', 'intake_type', 'intake_condition', 'animal_type', 'month_intake', 'sex', 'breed_1', 'color_1']
    # hot coding dummy variables
    for col in categorical_columns:
        dummy_df = pd.get_dummies(df[col],
                                  prefix=df[col].name,
                                  drop_first=True,
                                  dummy_na=False)
        df = pd.concat([df, dummy_df], axis=1)
        # drop original column
        df = df.drop(columns=col)
    # turn age_intake timedelta into float
    df['age_intake'] = df.age_intake / pd.Timedelta(days=1)
    return df